// color
$primary-color: #fff;
$secondary-color: #056DFF;

//background
$background-primary: #498CEC;
$background-secondary: #056DFF;

// font-size
$title-size: 50px;
$subtitle-size: 18px;
$text-size: 25px;
$text-search-size: 30px;

// media
$phone-max: 767px;
$tablet-max: 1199px;
